<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- *必须 - 借用获取参数名 -->
    <bean class="org.springframework.core.DefaultParameterNameDiscoverer"/>

    <import resource="applicationContext-hibernate.xml" />
    <import resource="applicationContext-service.xml" />
</beans>